@font-face {
  font-family: 'Crackman';
  src: url('crackman.regular-webfont.woff2') format('woff2'),
       url('crackman.regular-webfont.woff') format('woff'),
       url('crackman.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
