<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">

    <style>
      html, body { background: #000; margin: 0;  padding: 0; }
      #content { margin: 0 auto; width: 700px; border: 10px double #940000;}
    </style>
</head>
<body>
    <div id="content"></div>
</body>
</html>
